.home {
  display: flex;
  justify-content: space-between;
}

.tabla {
  width: 100%;
  height: 92vh;
  padding: 10px;
  text-align: center;
  overflow-y: scroll;
}

.tabla h3 {
  margin-bottom: 10px;
}